<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vision Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <style>
        body {
            background: rgb(165, 165, 165);
            color: white;
            text-align: center;
        }

        .topbox {
            background: rgba(114, 0, 39, 1.00);
            height: 100px;
        }

        .url-link {
            width: 100%;
        }
        {{!-- .formcontainer {} --}}

        .form {
            max-width: 400px;
            text-align: center;
        }
    </style>
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>