<div class="topbox">
    <a href="/"> Sign-Out </a>
</div>

<a href="../goals/new">Create new Goal</a>

<h1> Profile Page </h1>

<p> display profile visual boards </p>

<p> goals listed vertically like twitter app </p>