<div class="topbox">
    <a href="http://localhost:4000/"> Sign-Out </a>
</div>
<input class="url-link" type="url" placeholder="Img URL"> 
<input type="submit">
<h1> Profile Page </h1>

<p> display profile visual boards </p>

<p> goals listed vertically like twitter app </p>
