<div class="topbox">
    <a href="/login"> Sign-In </a>
    <a href="/signup"> Sign-Up </a>
</div>
<h1> Home Page </h1>
<p> this is the main landing page</p>
{{!--
need a inviting sign up page
username
password
signin button
--}}

{{!--
image to use for wallpaper
add "Set your Goals High,
dont stop till you get there"
https://www.pexels.com/photo/architectural-design-architecture-building-business-443383/
--}}