<div class="topbox">
    <a href="/login"> Sign-In </a>
</div>
<h1> signup page </h1>

<form>
    <ul>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="email" placeholder="email">
        <input type="password" placeholder="password">
        <input type="button" value="submit">
    </ul>
</form>