<div class="topbox">
    {{!-- <a href="/"> Sign-Out </a> --}}
    <a href="/goal/" class="btn btn-secondary">Back</a>
</div>
<form method="POST" action="/goal">
    <input type="text"  placeholder="Title"  name="title">
    <input class="url-link"  type="text"  placeholder="IMG URL"  name="img" >
    <input type="submit" class="btn btn-secondary">
</form>