<div class="topbox">
    {{!-- <a href="/"> Sign-Out </a> --}}
    <a href="/goal/">Back</a>
</div>
<div>
    {{goal.title}}
    <img src="{{goal.img}}" alt="" style="max-width: 80%">
</div>

<form>
    <input type="submit" value="Edit">
</form>
<form>
    <input type="submit" value="Delete">
</form>
