<div class="topbox">
    {{!-- <a href="/"> Sign-Out </a> --}}
    <a href="/goal/">Back</a>
</div>
<div>
    <div>
        {{goal.title}}
    </div>
    <div>
        <img src="{{goal.img}}" alt="" style="max-width: 80%">
    </div>
</div>

<form method="GET" action="{{goal.id}}/edit">
    <input type="submit" value="Edit" name="edit">
</form>
<form method="DELETE" action="goal/{{id}}">
    <input type="submit" value="Delete" name="delete">
</form>