<div class="topbox">
    {{!-- <a href="/"> Sign-Out </a> --}}
    <a href="/goal/">Back</a>
</div>
<div>
    <div>
        {{goal.title}}
    </div>
    <div>
        <img src="{{goal.img}}" alt="" style="max-width: 80%">
    </div>
</div>


<form method="GET" action="{{goal.id}}/edit">
    <input type="submit" value="Edit" name="edit" class="btn btn-secondary">
</form>
<form method="POST" action="/goal/{{goal.id}}?_method=DELETE">
    <input type="submit" value="Delete" name="delete" class="btn btn-secondary">
</form>
